@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "variables";

body {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #505376;
}